.content {
  height: 100vh;
  display: flex;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
